<div class='nav-bar'>
  <h1>CoBlogz</h1>
  <div class='directory'>
    <form method='get' action='/'>
      <button>Home</button>
    </form>
    <form method='get' action='/posts'>
      <button>List</button>
    </form>
    <form method='get' action='/posts/submit'>
      <button>Add</button>
    </form>
  </div>
</div>