<ul>
  <form method='get' action='/'>
    <button>Home</button>
  </form>
  <form method='get' action='/posts'>
    <button>Posts</button>
  </form>
  <form method='get' action='/posts/submit'>
    <button>Add</button>
  </form>
</ul>