<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  <body>
    <div class='nav-bar'>
      <h1>CoBlogz</h1>
      <% include ./partials/_navbar.ejs %>
      <div class='post-container'>
        <h3>Latest Posts</h3>
        <p>Lorem ipsum dolor amet cloud bread eu intelligentsia you probably haven't heard of them, lo-fi tattooed trust fund green juice quis pug knausgaard whatever austin. Blog swag ad, 8-bit craft beer unicorn sunt bicycle rights vexillologist. Occaecat yr cold-pressed sriracha lomo dolore hexagon, est ugh leggings laborum. Pug drinking vinegar letterpress sartorial fam listicle skateboard, actually locavore occupy flannel aesthetic disrupt squid.

            Minim 3 wolf moon duis kogi mustache pok pok bitters incididunt bespoke keytar. Shaman mustache af flexitarian. Palo santo paleo actually single-origin coffee 8-bit lorem exercitation blog squid nulla irure velit. Esse forage wolf messenger bag beard yr. Live-edge deep v consectetur gentrify shoreditch brunch skateboard quinoa lyft waistcoat. Sustainable gochujang meh eiusmod master cleanse prism.
            
            Brooklyn stumptown sed, four loko gentrify succulents DIY occupy yuccie. Tilde locavore narwhal, blog non keffiyeh chia. Bitters hell of intelligentsia, velit swag hot chicken celiac. Meditation etsy reprehenderit ramps bitters vegan. Kitsch meh vice enim. Duis kickstarter do retro authentic flannel YOLO ramps af et nisi tattooed.
            
            Pinterest portland cray, ugh incididunt four dollar toast godard enamel pin marfa 90's. Knausgaard DIY dolore dolore, pug voluptate man bun ullamco. Sartorial leggings enim aliquip mollit. Tempor etsy readymade meditation. Organic semiotics qui aute vegan aesthetic locavore lo-fi beard gastropub shabby chic dolore banh mi. Godard enim kale chips organic gastropub bespoke laborum photo booth banh mi.
            
            Irony kinfolk vape vice, tumblr incididunt aesthetic waistcoat in mlkshk. Subway tile laboris cardigan YOLO, wayfarers twee ethical skateboard pop-up williamsburg prism tacos direct trade. Swag minim prism, chambray coloring book occupy twee cliche tbh iceland organic et. Laboris direct trade unicorn kogi crucifix fashion axe. Lyft tbh lo-fi subway tile kogi copper mug. Copper mug taxidermy salvia, sunt in cornhole proident anim. Elit chia adaptogen deep v meggings laboris.</p>
      </div>
  </body>
</html>