<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  <body>
    <% include ./partials/_navbar.ejs %>
    
    <form method='post' action='/posts/submit'>
      <input type="email" name="email" placeholder = 'E-Mail'/><br>
      <input type='string' name='title' placeholder = 'Content Title'/><br>
      <input type='string' name='description' placeholder = 'Post Content'/><br>
      <input type='submit'/>
    </form>
  </body>
</html>