<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  <body>
    <% include ./partials/_navbar.ejs %>
    <div class='main-container'>
      <h3>Share your stories!</h3>
    </div>
    <div class='main-container'>
      <p>Lorem ipsum dolor sit amet, no mea natum dignissim interpretaris, in iudico audiam persequeris eam. Eam te platonem moderatius. Vel in nibh blandit, eu ipsum iracundia consequat duo. Duo ut ludus nominavi appetere, te eum verterem mediocrem.
        
        Vide expetendis voluptatum eam ne, quo graece viderer vivendo ex. Quod quaestio et sed, sea ei clita vulputate repudiandae, case viderer concludaturque ut vim. Te platonem imperdiet quo. His an elitr dicunt.
        
        Ex debet mediocrem quo, mei ei essent invidunt, lorem nominavi tractatos no eum. Qui ea zril posidonium, eum partiendo dissentiunt ei. Probo delectus persequeris ei eos. Phaedrum omittantur an nam, nam summo iudico nullam ad. Has nulla civibus percipit te. Eam latine repudiandae at, ius an erat putant.
        
        Has laoreet inermis te. Mea propriae phaedrum reformidans cu. Eos periculis gloriatur cu, alterum corpora mnesarchum eu eam. Mel et mazim soleat animal. Eam brute choro ad, nec ad alia oporteat definitiones.
        
        Pericula explicari conclusionemque ut sed. Nibh atomorum definitiones ex ius, has idque quando cu, mei ei error munere timeam. Qui ad viderer fabulas. No quas brute sea, pro te graecis facilisis, eu sea augue mazim. Te simul oportere vel, facilisi contentiones nam cu. Cum an errem alterum, dicta graece neglegentur at duo, et quot ancillae duo. Decore fabulas referrentur eu ius, vim ad quidam urbanitas voluptaria.
      </p>
    </div>
    <div class='main-container'>
      <h3>Today's Topics</h3>
    </div>
    <div class='main-container'>
      <p>Lorem ipsum dolor sit amet, no mea natum dignissim interpretaris, in iudico audiam persequeris eam. Eam te platonem moderatius. Vel in nibh blandit, eu ipsum iracundia consequat duo. Duo ut ludus nominavi appetere, te eum verterem mediocrem.
        
        Vide expetendis voluptatum eam ne, quo graece viderer vivendo ex. Quod quaestio et sed, sea ei clita vulputate repudiandae, case viderer concludaturque ut vim. Te platonem imperdiet quo. His an elitr dicunt.
        
        Ex debet mediocrem quo, mei ei essent invidunt, lorem nominavi tractatos no eum. Qui ea zril posidonium, eum partiendo dissentiunt ei. Probo delectus persequeris ei eos. Phaedrum omittantur an nam, nam summo iudico nullam ad. Has nulla civibus percipit te. Eam latine repudiandae at, ius an erat putant.
        
        Has laoreet inermis te. Mea propriae phaedrum reformidans cu. Eos periculis gloriatur cu, alterum corpora mnesarchum eu eam. Mel et mazim soleat animal. Eam brute choro ad, nec ad alia oporteat definitiones.
        
        Pericula explicari conclusionemque ut sed. Nibh atomorum definitiones ex ius, has idque quando cu, mei ei error munere timeam. Qui ad viderer fabulas. No quas brute sea, pro te graecis facilisis, eu sea augue mazim. Te simul oportere vel, facilisi contentiones nam cu. Cum an errem alterum, dicta graece neglegentur at duo, et quot ancillae duo. Decore fabulas referrentur eu ius, vim ad quidam urbanitas voluptaria.
      </p>
    </div>
  </body>
</html>